*{
    margin: 0;
    padding: 0;
}

body{
    height:200000px;
    overflow-x: hidden;
}
/*================================
           navbar styles
==================================*/
.navbar{
    /**top,left,bottom,right**/

    padding: 15px 0px;
    /*background-color: #34495e !important;*/
    background-color: transparent !important;
    border-bottom: none !important;
    height: 80px;
}

.navbar ul li a{
    font-family: Montserrat;
    color: white !important;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
    margin-bottom: 10px;
    vertical-align: middle;
}


.navbar ul li a:hover{
    color: #FFA3A3 !important;
}

.navbar-toggle{
    border: 1px solid white !important;
    border: white;
    transition: all 0.5s ease-in;
}
.navbar-header{
    align-self: start;
    align-content: flex-start;
}

.navbar-brand{
    position: absolute;
    width: 100%;
    left: 5%;
    top: 8%;
    padding: 0px;
}

.navbar-inverse .navbar-toggle{
    background-color: transparent;
}

.navbar-inverse .navbar-collapse{
    border: none;
}

.navbar-toggle:hover{
    background-color: #FFA3A3 !important;
}


.login{
    border: 1px solid white;
    background-color: white;
    color: #381DDB;    ;
    align-content: center;
    align-self: center;
    align-items: center;
    vertical-align: center;
    padding: 10px 20px;
    position: static;
    width: 90px;
    height: 20px;
    left: 40px;
    border-radius: 8px;
    padding-bottom: 10px;
    transition: all 0.5s ease-in;
}

.login:hover{
    color: #FFA3A3;
}


/*======================
    coloured navbar
========================*/
.secondary{
    background-color: black !important;
}



/*======================
    content styles
========================*/
.slider{
    width: 100%;
    height: 700px;
    background-image: url(..//imges/backgroung.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.slider-ovrlay{
    width: 100%;
    height: 100%;
    position: relative;
}

.slider-content{
    position: absolute;
    top: 30%;
    width: 100%;
}

.text .t1{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
}

.text .t2{
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700; 
    color: #FFA3A3 !important;
    text-shadow: 2px 2px 4px #000000;
}

.text p{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500; 
}


.signup{
    background-color: #FC5252;
    height: 40px;
    width: 100px;
    border-radius: 8px;
    margin-right: 5px;
}

.cta-div .btn1{
    color: white;
    font-weight: bold;
}

.cta-div .btn2:hover{
    color: burlywood;
    text-decoration: none;
}
.btn2{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 15x;
    margin-left: 5px;
}

.fa-play-circle-o{
    vertical-align: bottom;
    font-weight: 1000;
    margin-left: 12px;
}



/*======================
    categories styles
========================*/
.categories{
    margin-top: 10px;
    display: block;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
}

.categories .container{
    margin-left: 0px;
    display: block;
}

.categories ul.slick-slider{
    display: inline;
    display: flex;
    list-style-type: none;
}

.item-a .box{
    background-color: rgba(219, 132, 29, 0.1);
}

.item-b .box{
    background-color: rgba(252, 82, 82, 0.1);
}

.item-c .box{
    background-color: rgba(192, 0, 150, 0.1);
}
.item-d .box{
    background-color: rgba(192, 0, 150, 0.1);
}

.item-e .box{
    background-color: rgba(132, 196, 255, 0.1);
}
.box{
    width: 220px;
    height: 220px;
    top: 50%;
   
    border-radius: 24px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
    margin-left: 25px;
}

.music{
    vertical-align: baseline;
    margin: 0px 20px;
    margin-top: 50px;
}
.details{
    margin: 0px 20px;
}
.details p .details-text{
    color: black;
    font-family: Raleway;
    font-size: 12px;
}
.details p .heading{
    font-family:'Montserrat Bold', arial;
    font-weight: 800;
    font-size: 22px;
    margin-top: -50px;
}

.categories-text{
    font-family: 'Montserrat Bold', arial;
    margin-left: 30px;
    margin-top: 80px;
    font-weight: bolder;
    font-size: 30px;
    color: black;
}

.categories-text span{
    color: #381DDB;
}

.box:hover{
    cursor: pointer;
}

.secon{
    background-color: blue !important;
    color: white;
}








