*{
    margin: 0;
    padding: 0;
}

.navbar{
    /**top,left,bottom,right**/

    padding: 22px 0px;
    background-color: #34495e !important;
    border-bottom: none !important;
}

.navbar ul li a{
    color: white !important;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
    margin-bottom: 10px;
}

.navbar ul li a:hover{
    color: #FFA3A3 !important;
}

.navbar-toggle{
    border: 1px solid white !important;
    border: white;
    transition: all 0.5s ease-in;
}

.navbar-inverse .navbar-toggle{
    background-color: #34495e !important;
}

.navbar-inverse .navbar-collapse{
    border: none;
}

.navbar-toggle:hover{
    background-color: #FFA3A3 !important;
}

.navbar-toggle .icon-bar{
    color: white !important;
}

.login{
    border: 1px solid white;
    background-color: white;
    color: blue;
    align-content: center;
    align-self: center;
    align-items: center;
    vertical-align: center;
    padding: 18px 34px;
    position: static;
    width: 100px;
    height: 20px;
    left: 40px;
    border-radius: 8px;
    padding-bottom: 10px;
}